#galleryWindows {
    z-index: 399999;
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
}

#galleryWindows .container {
    z-index: 200000;
    cursor: pointer;
    margin: 10px;
    position: relative;
    height: 100%;
    max-width: 700px;
    max-height: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

#galleryWindows .myGallery {
    max-width: 700px !important;
    max-height: 700px !important;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}


.myOverlay {
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: auto;

    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 199999;
}





#pictureSearchSettingWindow {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    width: 600px;
    background-color: #fff;
    z-index: 100000;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    font-family: Arial;

}

#pictureSearchSettingContainer {
    display: flex;
    flex-direction: column;
}

.control-group {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.control-group input {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;

}

.control-group .control-label {
    color: #66757f;
    width: 80px;
    min-width: 80px;
    padding-right: 10px;
    text-align: right;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 0;
}




#searchMemos {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#searchMemos li {
    display: inline-block;
    cursor: pointer;
    margin: 2px;
    margin-bottom: 0;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;


}

#searchMemos .memo {
    color: #fff;
    background-color: #31b0d5;
    background-image: none;
    border-color: #2aabd2;
}

.memo .content {
    position: relative;
    top: -1.5px;

}


.memo input {
    padding: 0px;
    height: 14px;

}

#addMemoBtn {
    background-color: #563d7c;
    border-color: #563d7c;
    color: #fff;
    font-weight: bolder;
}

.deleteMemo {
    position: relative;
    top: 3px;
    left: -3px;
}

.deleteMemo .myglyph {
    fill: rgb(255, 0, 0);
}


#displayPictureWindowsBlock {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #fff;
}


#displayPictureWindows {
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;

    position: fixed;
    bottom: 0;
    left: 440px;
    z-index: 99999;
}

#displayPictureWindows .myUserDes {
    padding: 5px;
    position: absolute;
    max-width: 250px;
    display: block;
    top: 50px;
    line-height: 18px;
    text-align: justify;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}


#displayPictureWindows .myAvatar {
    cursor: pointer;
    display: inline;
    float: left;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #e6ecf0;

}

#displayPictureWindows .myContainer {
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    float: left;

}

#displayPictureWindows #closeBtn {
    padding-left: 5px;
    display: inline;
    float: left;

}

#displayPictureWindows .myFullname {
    cursor: pointer;
    color: black;
    font-weight: bold;
    overflow: hidden;
    width: 400px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

#displayPictureWindows .updatetime {

    color: #657786;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#displayPictureWindows .myDescribe {
    text-overflow: ellipsis;
    display: -webkit-box;
    text-align: justify;
    overflow: hidden;
    width: 400px;

    line-height: 18px;
    max-height: 72px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;


}

#displayPictureWindows .MediaContainer {
    margin-top: 10px;
    max-height: 400px;
    overflow: hidden;
    width: 400px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #e6ecf0;

}

#displayPictureWindows .cellContainer {
    float: left;
    overflow: hidden;
    margin: 0.5px;
    padding: 0;
    display: inline-block;
    width: 100%;
}

#displayPictureWindows .myMedia {
    position: relative;
    width: 100%;
    cursor: pointer;

}



#pictureSearchWindows {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 99999;
    position: fixed;
    bottom: 0;
    left: 5px;
    font-family: Arial;
}

#pictureSearchMain {


    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;

    border-style: solid;
}

#pictureSearchHeader {
    cursor: pointer;
    color: #fff;
    background-color: rgb(2, 117, 216);
    border-color: rgb(2, 117, 216);
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}



#pictureSearchHeader h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

#loadingCanvas {
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 50000;
}

#pictureSearchContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: auto;
    overflow-x: hidden;

}

label.FolderSwitch {
    color: black;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

label.FolderSwitch>input {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    margin-right: 2px;
    vertical-align: bottom;
}


#resultPopupWindows {
    color: black;
    word-wrap: break-word;
    padding: 15px;
    z-index: 99999;
    width: 320px;
    background-color: #fff;
    line-height: 16px;
    position: fixed;
    bottom: 0;
    right: 15px;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
}

#transferMenuWindows {
    text-align: left;
    padding: 15px;
    width: 500px;
    background-color: #fff;
    z-index: 299999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
}

#transferMenuWindows>input {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    font-size: 16px;
}

#transferMenuWindows>input:hover {
    border-width: 1px;
    border-color: rgb(119, 119, 119);
}

#fileNameList {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;

    word-wrap: break-word;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    padding-bottom: 10px;
    margin: 2px;
}




.GroupFloatRight {
    display: flex;
    justify-content: flex-end;
}

.GroupFloatRight>* {
    align-self: center;
}



.GroupFloatLeft>* {
    float: left;
}

.myHR {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

.scrollbar-deep-blue::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-deep-blue::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-deep-blue::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #e0c3fc 0%, #8ec5fc 100%);
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.scrollbar-dusty-grass::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-dusty-grass::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.scrollbar-default::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-default::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #0275d8;
}

#myRecentSets {
    overflow: auto;
    max-height: 200px;
    border: 1px solid #ddd;
}

.mylist-group-item:hover {
    text-decoration: none;
    background-color: rgb(245, 245, 245);
}

.mylist-group-item {
    cursor: pointer;
    font-size: 14px;
    position: relative;
    display: block;
    padding: 5px 5px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: 0;
    border-left: 0;
}

.mylist-group-item.active,
.mylist-group-item:active {
    outline: 0;
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.mybreadcrumb>li,
.mylist-group-item>ol>li {
    color: #777;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mylist-group-item>ol>li {
    color: #0275d8;

}

.mylist-group-item>ol {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;

    margin-left: 30px;
    line-height: 20px;
}



.mybreadcrumb>li+li:before,
.mylist-group-item>ol>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: '/';
}

.mylist-group-item.active>ol>li,
.mylist-group-item:active>ol>li {
    color: #fff;
}

.mybtn.focus,
.mybtn:focus,
#transferMenuWindows button:focus,
.DownloadImg {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

.mybtn.active,
.mybtn:active {
    outline: 0;
}

.twitter-btn-adjust {
    position: absolute;
    top: 50%;

    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}




.mybtn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.mybtn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.mybtn-warning.active,
.mybtn-warning:active {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
}

.mybtn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.mybtn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.mybtn-success.active,
.mybtn-success:active {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}

.mybtn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.mybtn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}

.mybtn-danger.active,
.mybtn-danger:active {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}

.mybtn-orange {
    color: #f0ad4e;
    background-image: none;
    background-color: transparent;
    border-color: #f0ad4e;
}

.mybtn-orange:hover {
    color: #212529;
    background-color: #e6e6e6;
    border-color: #f0ad4e;
}

.mybtn-orange.active,
.mybtn-orange:active {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.mybtn-second {
    color: #28a745;
    background-image: none;
    background-color: transparent;
    border-color: #28a745;
}

.mybtn-second:hover {
    color: #212529;
    background-color: #e6e6e6;
    border-color: #28a745;
}

.mybtn-second.active,
.mybtn-second:active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}



.mybtn-primary {
    color: #0275d8;
    background-image: none;
    background-color: transparent;
    border-color: #0275d8;
}

.mybtn-primary:hover {
    color: #292b2c;
    background-color: #e6e6e6;
    border-color: #0275d8;
}

.mybtn-primary.active,
.mybtn-primary:active {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.mybtn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.mybtn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.mybtn-info.active,
.mybtn-info:active {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.myglyph {
    fill: rgb(101, 119, 134);
    font-size: 15px;
    line-height: 1.3125;
    height: 1.25em;
}

.actionBtn {
    margin: 5px;
    cursor: pointer;
    color: rgb(101, 119, 134);
}

.actionCount {
    position: relative;
    top: -3.5px;
}

#myFavoriteBtn {
    margin-right: 8px;
}

#myFavoriteBtn:hover {
    color: rgb(224, 36, 94);

}

#myFavoriteBtn:hover .myglyph {
    fill: rgb(224, 36, 94);

}

.favorited #myFavoriteBtn {
    color: rgb(224, 36, 94);
}

.favorited #myFavoriteBtn .myglyph {
    fill: rgb(224, 36, 94);
}



#myRetweetBtn:hover {
    color: rgb(23, 191, 99);
}

#myRetweetBtn:hover .myglyph {
    fill: rgb(23, 191, 99);
}


.retweeted #myRetweetBtn {
    color: rgb(23, 191, 99);
}

.retweeted #myRetweetBtn .myglyph {
    fill: rgb(23, 191, 99);
}


#pictureSearchSettingBtn {
    float: right;
    height: 0px;

}

#pictureSearchSettingBtn .myglyph {
    font-size: 25px;
    line-height: 18px;
    fill: #fff;

    cursor: pointer;
    position: relative;
    top: -9px;
    left: 5px;

}

#pictureSearchSettingBtn:hover .myglyph {
    fill: #94cbfc;
}



.mybtn {
    display: inline-block;
    margin: 2px;
    margin-bottom: 0;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.pixivMainBtn {
    margin-right: 10px;
}

.pixivSubBtn {
    margin-right: 10px;
}



.mybtn-none {
    display: none;
}

.twitterMainBtn {
    display: flex;
    align-items: center;
}